@{
    ViewData["Title"] = "Applications";
}

@model List<JobApplication>

<div class="text-center">
    <h1 class="display-4 mb-3">Your Applications</h1>
</div>

<div class="text-center">
    <a href="/home/CreateApplication" class="btn btn-success mb-4">Add New Application</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Company
            </th>
            <th>
                Job Title
            </th>
            <th>
                Date Applied
            </th>
            <th>
                Status
            </th>
            <th>
                Salary
            </th>
            <th>
                Notes
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var JobApplication in Model) 
            {
                <tr>
                    <td>
                        @JobApplication.Company
                    </td>
                    <td>
                        @JobApplication.JobTitle
                    </td>
                    <td>
                        @JobApplication.ApplicationDate
                    </td>
                    <td>
                        @JobApplication.Status
                    </td>
                    <td>
                        @JobApplication.Salary
                    </td>
                    <td>
                        @JobApplication.Notes
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditApplication" asp-route-id="@JobApplication.ID">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteApplication" asp-route-id="@JobApplication.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>