@{
    ViewData["Title"] = "Your Applications";
}

@model List<JobApplication>

<div class="text-center">
    <h1 class="display-4">Your Applications</h1>
</div>

<div class="text-start">
    <a href="/home/CreateApplication" class="btn btn-success ms-2.5">Add New Application</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                User ID
            </th>
            <th>
                Company
            </th>
            <th>
                Job Title
            </th>
            <th>
                Date Applied
            </th>
            <th>
                Status
            </th>
            <th>
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var JobApplication in Model) 
            {
                <tr>
                    <td>
                        @JobApplication.ID
                    </td>
                    <td>
                        @JobApplication.UserId
                    </td>
                    <td>
                        @JobApplication.Company
                    </td>
                    <td>
                        @JobApplication.JobTitle
                    </td>
                    <td>
                        @JobApplication.ApplicationDate.ToString("d") <!--Removes time from date-->
                    </td>
                    <td>
                        @JobApplication.Status
                    </td>
                    <td>
                        @JobApplication.Notes
                    </td>
                    <td>
                        <a asp-action="EditApplication" asp-route-id="@JobApplication.ID">Edit</a>
                        <a asp-action="DeleteApplication" asp-route-id="@JobApplication.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>